<div class="background">
    <div class="form-container">
      <h2>Add Language</h2>
      <form [formGroup]="addLanguageForm" (ngSubmit)="addLanguage()">
  
        <!-- Short Description Field -->
        <div class="form-group">
          <label for="shortDescription">Short Description</label>
          <input id="shortDescription" formControlName="shortDescription" class="form-input">
        </div>
  
        <!-- ISO Code Field -->
        <div class="form-group">
          <label for="isoCode">ISO Code</label>
          <input id="isoCode" formControlName="isoCode" class="form-input" [disabled]="true">
        </div>
  
        <!-- Display Code Field -->
        <div class="form-group">
          <label for="displayCode">Display Code</label>
          <input id="displayCode" formControlName="displayCode" class="form-input" [disabled]="true">
        </div>
  
        <!-- Submit Button -->
        <div class="button-group">
          <button type="submit" class="form-button" [disabled]="addLanguageForm.invalid">
            Add Language
          </button>
  
          <!-- Cancel Button -->
          <button type="button" class="form-button cancel-button" (click)="cancel()">
            Cancel
          </button>
        </div>
  
      </form>
    </div>
  </div>
  