<div class="background"> 
    <div class="form-container">
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="itemPriceID">itemPrice ID:</label>
          <select id="itemPriceID" formControlName="itemPriceID" class="form-input">
            <option *ngFor="let itemPrice of itempriceList" [value]="itemPrice.itemPriceID">{{ itemPrice.itemPriceID }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="itemOrder">Item Order:</label>
          <input type="number" id="itemOrder" formControlName="itemOrder" class="form-input">
        </div>
  
        <div class="form-group">
          <label for="shortDescription">Short Description:</label>
          <input type="text" id="shortDescription" formControlName="shortDescription" class="form-input">
        </div>
  
        <div class="form-group">
          <label for="animationUrl">Animation URL:</label>
          <input type="text" id="animationUrl" formControlName="animationUrl" class="form-input">
        </div>
        <div>
          <label for="name">Item Type:</label>
          <select id="name" formControlName="name" class="form-input">
            <option *ngFor="let type of itemTypes" [value]="type.value">{{ type.label }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pageID">Page ID:</label>
          <select id="pageID" formControlName="pageID" class="form-input">
            <option *ngFor="let page of menuPages" [value]="page.menuPageID">{{ page.pageOrder }}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="combiID">Combi ID:</label>
          <select id="combiID" formControlName="combiID" class="form-input">
            <option *ngFor="let combi of combiList" [value]="combi.combiID">{{ combi.combiID }}</option>
          </select>
        </div>
  
        <button type="submit" class="form-button">Add Item</button>
      </form>
    </div>
  </div>
  