<div>
    <header id="site-header" class="fixed-top">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg stroke">
          <h1>
            <a class="navbar-brand d-flex align-items-center" href="index.html">
              Restox <i class="fa fa-cutlery ml-2" aria-hidden="true"></i>
            </a>
          </h1>
          <button class="navbar-toggler collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
              <!-- Address -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Addresses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/addadress']" routerLinkActive="router-link-active">Add address</a>
                  <a class="dropdown-item" href="#address-section">My addresses</a>
               </div>
              </li>
                 <!-- Combi -->
                 <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Combis
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/addcombi']" routerLinkActive="router-link-active">Add Combi</a>
                    <a class="dropdown-item" [routerLink]="['/allcombi']">My Combis</a>
                 </div>
                </li>
                  <!-- Address -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Addresses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/addadress']" routerLinkActive="router-link-active">Add address</a>
                  <a class="dropdown-item" href="#address-section">My addresses</a>
               </div>
              </li>
                 <!-- Menu -->
                 <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/addmenu']" routerLinkActive="router-link-active">Add Menu</a>
                    <a class="dropdown-item" [routerLink]="['/allmenu']">My Menu</a>
                 </div>
                </li>
                                 <!-- Regrouper Items, Item Details, et Item Prices sous un seul champ -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownItems" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Items
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownItems">
    <!-- Lien pour les Items -->
    <a class="dropdown-item" [routerLink]="['/additem']" routerLinkActive="router-link-active">Add Items</a>
    <a class="dropdown-item" href="#items-section">My Items</a>
    
    <!-- Lien pour Item Details -->
    <div class="dropdown-divider"></div> <!-- Ligne de séparation entre sections -->
    <a class="dropdown-item" [routerLink]="['/additemdetail']" routerLinkActive="router-link-active">Add Item Details</a>
    <a class="dropdown-item" [routerLink]="['/allitemdetail']">My Item Details</a>
    
    <!-- Lien pour Item Prices -->
    <div class="dropdown-divider"></div> <!-- Ligne de séparation entre sections -->
    <a class="dropdown-item" [routerLink]="['/additemprice']" routerLinkActive="router-link-active">Add Item Prices</a>
    <a class="dropdown-item" [routerLink]="['/allitemprice']">My Item Prices</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownItems" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Orders
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownItems">
    <!-- Lien pour les Items -->
    <a class="dropdown-item" [routerLink]="['/addorder']" routerLinkActive="router-link-active">Add Order</a>
    <a class="dropdown-item" [routerLink]="['/allorder']">My Orders</a>    
    <!-- Lien pour Item Details -->
    <div class="dropdown-divider"></div> <!-- Ligne de séparation entre sections -->
    <a class="dropdown-item" [routerLink]="['/addorderdetail']" routerLinkActive="router-link-active">Add Order Details</a>
    <a class="dropdown-item" [routerLink]="['/allorderdetails']">My Order Details</a>
    
  
  </div>
</li>

              <!-- Boutons Login et Sign Up -->
              <li class="nav-item" *ngIf="!bizaccountservice.getLoginStatus()">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
              </li>
              <li class="nav-item" *ngIf="!bizaccountservice.getLoginStatus()">
                <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active">Sign Up</a>
              </li>
              <li class="nav-item" *ngIf="bizaccountservice.getLoginStatus()">
                <a class="nav-link" href="#" (click)="logout()">Logout</a>
              </li>              
              <!-- search button -->
              <div class="search-right">
                <form action="#search" method="GET" class="search-box position-relative">
                  <div class="input-search">
                    <input type="search" placeholder="Enter Keyword" name="search" required="required" autofocus="" class="search-popup">
                  </div>
                  <button type="submit" class="btn search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
              </div>
              <!-- //search button -->
            </ul>
          </div>
          <div class="cont-ser-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
        </nav>
      </div>
    </header>
  </div>
  